@import "base.scss";
@import "header.scss";
@import "body.scss";

.library-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  min-height: 100vh;
}
